::ng-deep #form .hide-validation-group .dx-overlay .dx-invalid-message-content {
  display: none;
}

#typeExtraInputs select + span,
#typeExtraInputs input + span {
  display: none;
  position: absolute;
}

#TagExtraInputs select + span,
#TagExtraInputs input + span {
  display: none;
  position: absolute;
}

#typeExtraInputs select:invalid + span,
#typeExtraInputs input:invalid + span {
  display: inline-block;
  position: initial;
}

#TagExtraInputs select:invalid + span,
#TagExtraInputs input:invalid + span {
  display: inline-block;
  position: initial;
}
