.spinner {
  width: 100%;
  min-height: calc(75vh - 115px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner__lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.spinner__text {
  font-size: 18px;
  font-family: 'avenir-medium';
  color: #999999;
  margin-top: 10px;
}
.spinner__lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #595959;
  border-color: #595959 transparent #595959 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
