@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Questrial';
  src: url('../assets/Questrial.woff2');
}
@font-face {
  font-family: 'montserratmedium';
  src: url('../assets/Montserrat-Medium.otf');
}
@font-face {
  font-family: 'playFair';
  src: url('../assets/PlayfairDisplay-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'optima';
  src: url('../assets/Optima-Normal.ttf');
}
@font-face {
  font-family: 'avenir';
  src: url('../assets/AVENIR-MEDIUM.woff');
}
:root {
  --x: 0;
  --mega-menu-column: 2;
}

@layer components {
  .res-margine {
    @apply my-16 lg:mx-[25px] xl:mx-[100px] 2xl:mx-[200px];
  }
}

/*
----------------------------------------- 
Home Page Banner
-----------------------------------------
*/

.homepage-banner {
  --header-announcemed-height: 121px;
  /* height: var(--header-announcemed-height); */
}

/*
----------------------------------------- 
Announcemed Bar 
-----------------------------------------
*/

.announce-item {
  @apply text-white w-[100vw] flex justify-center items-center text-center absolute tracking-[.2em] leading-4 translate-x-[-%100] uppercase !text-[11.5px] font-montserratMd;
}
/*
----------------------------------------- 
Featured Collection
-----------------------------------------
*/
.slider__featuredCol::-webkit-scrollbar {
  display: none;
}
.product-wrapper__featuredCol {
  transform: translateX(var(--x));
  transition: transform 0.5s ease-out;
}

.slider_featuredCol {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.slider-btn__featuredCol {
  @apply top-[50%] translate-y-[-50%] border p-4 rounded-full hover:bg-slate-100 absolute;
}
/*
----------------------------------------- 
Footer
-----------------------------------------
*/

.footer {
  @apply border-t grid gap-x-2 gap-y-4 sm:grid-cols-2 sm:grid-rows-3 lg:grid-cols-4 lg:grid-rows-2 xl:grid-cols-5 xl:grid-rows-1 py-20 px-10;
}
.footer p {
  @apply mb-3;
}

.footer li {
  @apply text-xs;
}

/*
----------------------------------------- 
Header
-----------------------------------------
*/
.grid-column-number {
  grid-template-columns: repeat(var(--mega-menu-column), minmax(0, 1fr));
}

/*
----------------------------------------- 
Image Loader in Featured Collection
-----------------------------------------
*/

.Image__Loader {
  position: absolute;
  display: block;
  height: 2px;
  width: 50px;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  margin: auto;
  pointer-events: none;
  background-color: black;
  z-index: -1;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}

.Image__Loader::after {
  position: absolute;
  content: '';
  bottom: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 200%;
  background-color: gray;
}

.Image__Loader {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

.Image__Loader::after {
  -webkit-animation: lazyLoader 3s infinite;
  animation: lazyLoader 3s infinite;
  -webkit-animation-timing-function: cubic-bezier(0.43, 0.43, 0.25, 0.99);
  animation-timing-function: cubic-bezier(0.43, 0.43, 0.25, 0.99);
}

@-webkit-keyframes lazyLoader {
  0%,
  100% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(100%);
  }
}

@keyframes lazyLoader {
  0%,
  100% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(100%);
  }
}
/*
----------------------------------------- 
Product Image Carausel
-----------------------------------------
*/
.embla.slider-product {
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-height: 'auto';
  /* padding: 1.6rem; */
  padding-top: 0;
}
.slider-product .embla__viewport {
  overflow: hidden;
}
.slider-product .embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}
.slider-product .embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  /* padding-left: var(--slide-spacing); */
  position: relative;
}
.slider-product .embla__slide__img {
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}
.slider-product .embla__slide__number {
  width: 4.6rem;
  height: 4.6rem;
  z-index: 1;
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  border-radius: 50%;
  background-color: rgba(var(--background-site-rgb-value), 0.85);
  line-height: 4.6rem;
  font-weight: 900;
  text-align: center;
  pointer-events: none;
}
.slider-product .embla__slide__number > span {
  color: var(--brand-primary);
  background-image: linear-gradient(
    45deg,
    var(--brand-primary),
    var(--brand-secondary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.6rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.slider-product .embla-thumbs {
  --thumbs-slide-spacing: 20px;
  --thumbs-slide-height: 9rem;
  margin-top: var(--thumbs-slide-spacing);
}
.slider-product .embla-thumbs__viewport {
  overflow: hidden;
}
.slider-product .embla-thumbs__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: row;
  margin-left: calc(var(--thumbs-slide-spacing) * -1);
}
.slider-product .embla-thumbs__slide {
  flex: 0 0 70px;
  min-width: 0;
  /* padding-left: var(--thumbs-slide-spacing); */
  position: relative;
}
@media (min-width: 576px) {
  .embla-thumbs__slide {
    flex: 0 0 18%;
  }
}

.slider-product .embla-thumbs__slide__button {
  -webkit-appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  opacity: 1;
  transition: opacity 0.2s;
}
.slider-product .embla-thumbs__slide--selected .embla-thumbs__slide__button {
  opacity: 1;
}
.slider-product .embla-thumbs__slide__img {
  display: block;
  /* height: var(--thumbs-slide-height); */
  width: 100%;
  object-fit: cover;
}
.slider-product .embla-thumbs__slide__number {
  width: 3rem;
  height: 3rem;
  z-index: 1;
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  border-radius: 50%;
  background-color: rgba(var(--background-site-rgb-value), 0.85);
  line-height: 3rem;
  font-weight: 900;
  text-align: center;
  pointer-events: none;
}
.slider-product .embla-thumbs__slide__number > span {
  color: var(--brand-primary);
  background-image: linear-gradient(
    45deg,
    var(--brand-primary),
    var(--brand-secondary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.4rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.embla__slide__number {
  display: none;
}

/* .embla {
  margin-left: 50px;
} */

.product-description-detail {
  div {
    border-bottom: none;
  }
  div + p span {
    font-size: 11px !important;
  }
  div + p {
    margin-bottom: 20px
  }
  p {
    @apply font-questrial;
  }
}
.product-description-detail div > p + p {
  margin-bottom: 20px
}


/* Text underline animation*/
.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 100% 1px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 200ms ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#2f2f2f, #2f2f2f)
}

.link-underline:hover {
  background-size: 0 1px;
  background-position: 0 100%
}