@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --x: 0;
  --mega-menu-column: 2;
}

@layer components {
  .res-margine {
    @apply my-16 lg:mx-[25px] xl:mx-[100px] 2xl:mx-[200px];
  }
}

/*
----------------------------------------- 
Home Page Banner
-----------------------------------------
*/

.homepage-banner {
  --header-announcemed-height: 121px;
  /* height: var(--header-announcemed-height); */
}

/*
----------------------------------------- 
Announcemed Bar 
-----------------------------------------
*/

.announce-item {
  @apply text-white w-[100vw] flex justify-center items-center text-center absolute leading-4 translate-x-[-%100] sm:uppercase;
}
/*
----------------------------------------- 
Featured Collection
-----------------------------------------
*/
.slider__featuredCol::-webkit-scrollbar {
  display: none;
}
.product-wrapper__featuredCol {
  transform: translateX(var(--x));
  transition: transform 0.5s ease-out;
}

.slider_featuredCol {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.slider-btn__featuredCol {
  @apply top-[50%] translate-y-[-60%] border p-4 rounded-full hover:bg-slate-100 absolute;
}
/*
----------------------------------------- 
Footer
-----------------------------------------
*/

.footer {
  @apply border-t grid gap-x-2 gap-y-4 sm:grid-cols-2 sm:grid-rows-3 lg:grid-cols-4 lg:grid-rows-2 xl:grid-cols-5 xl:grid-rows-1 py-20 px-10;
}
.footer p {
  @apply mb-3;
}

.footer li {
  @apply text-xs;
}

/*
----------------------------------------- 
Header
-----------------------------------------
*/
.grid-column-number {
  grid-template-columns: repeat(var(--mega-menu-column), minmax(0, 1fr));
}
